.blog {
  display: flex;
  justify-content: center;
}

.blog__wrapper {
  max-width: 1366px;
  padding: 114px 74px 119px;
}

.blog__title {
  text-align: center;
  padding-bottom: 64px;

  h2 {
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-size: 34px;
    line-height: 44.2px;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 20px;
  }

  a {
    font-weight: 500;
    line-height: 20.8px;
    color: $font-color;
    border-bottom: 1px solid $brown;
    padding-bottom: 3px;

    &:hover {
      color: $brown;
    }
  }
}

.blog__articles {
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr 30px 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 30px;

  div {
    &:nth-child(1) {
      grid-row-start: 1;
      grid-column-start: 1;
      height: 300px;
    }

    &:nth-child(3) {
      grid-row-start: 1;
      grid-row-end: -1;
      grid-column-start: 4;
      grid-column-end: -1;
      height: 630px;
    }

    &:nth-child(5) {
      grid-row-start: 2;
      grid-column-start: 2;
      height: 300px;
    }

    &:nth-child(2) {
      grid-row-start: 1;
      grid-column-start: 2;
    }

    &:nth-child(4) {
      grid-row-start: 2;
      grid-column-start: 1;
    }

    &:nth-child(6) {
      grid-row-start: 2;
      grid-column-start: 5;
    }
  }
}


.blog__articles-pic {
  img {
    width: 100%;
    height: auto;
  }
}

.blog__description {
  background-color: $light-brown;
  width: 163px;
  padding: 69px 61px;
  text-align: center;

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    color: $grey;
    padding-bottom: 14px;
    margin: 0;
  }

  h2 {
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 33.8px;
    padding-bottom: 37px;
    margin: 0;
  }

  a {
    font-weight: 500;
    line-height: 20.8px;
    color: $font-color;
    border-bottom: 1px solid $brown;
    padding-bottom: 10px;

    &:hover {
      color: $brown;
    }
  }
}

@media (max-width: $tablet-width) {
  .blog__wrapper {
    padding: 68px 45px 69px;
  }

  .blog__articles {
    grid-template-columns: repeat(2, 339px);
    grid-template-rows: repeat(3, 300px);
    grid-row-gap: 50px;

    div {
      &:nth-child(1) {
        grid-row-start: 1;
        grid-column-start: 1;
      }

      &:nth-child(2) {
        grid-row-start: 1;
        grid-column-start: 2;
      }

      &:nth-child(3) {
        grid-row-start: 3;
        grid-column: 1;
      }

      &:nth-child(4) {
        grid-row-start: 2;
        grid-column-start: 1;
      }

      &:nth-child(5) {
        grid-row-start: 2;
        grid-column-start: 2;
      }

      &:nth-child(6) {
        grid-row-start: 3;
        grid-column-start: 2;
        padding-top: 85px;
      }
    }
  }

  .blog__articles-pic {
    img {
      height: 300px;
      object-fit: cover;
    }
  }

  .blog__description {
    width: auto;
    padding: 69px 83px;

    p {
      padding-bottom: 12px;
    }

    h2 {
      padding-bottom: 39px;
    }

    a {
      padding-bottom: 3px;
    }
  }
}

@media (max-width: $mobile-width) {
  .blog__wrapper {
    padding: 57px 15px 60px;
  }

  .blog__title {
    padding-bottom: 56px;

    h2 {
      padding-bottom: 20px;
    }
  }

  .blog__articles {
    grid-template-columns: 1fr;
    grid-template-rows: 256px 256px 40px 256px 256px 40px 256px 256px;
    grid-row-gap: 0;

    div {
      &:nth-of-type(1) {
        grid-row-start: 1;
        grid-column-start: 1;
      }

      &:nth-of-type(2) {
        grid-row-start: 2;
        grid-column-start: 1;
      }

      &:nth-of-type(3) {
        grid-row-start: 7;
        grid-column-start: 1;
      }

      &:nth-of-type(4) {
        grid-row-start: 5;
        grid-column-start: 1;
      }

      &:nth-of-type(5) {
        grid-row-start: 4;
        grid-column-start: 1;
      }

      &:nth-of-type(6) {
        grid-row-start: 8;
        grid-column-start: 1;
        padding-top: 63px;
      }
    }
  }

  .blog__articles-pic {
    img {
      height: 256px;
    }
  }

  .blog__description {
    padding: 46px 61px;
  }
}
