.card {
  max-width: 1366px;
  padding: 81px 98px 118px;
  display: flex;
  margin: auto;
}

.card__container {
  width: 51%;
  padding-right: 8.8%;
}

.card__picture {
  display: grid;
  grid-template-columns: repeat(5, 17%);
  grid-gap: 6.5% 5%;
  grid-template-rows: 29% 28% 29%;
  height: fit-content;

  div {
    height: fit-content;
  }
}

.card__picture-preview {
  img {
    width: 100%;
    height: auto;
  }

  &--1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  &--2 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  &--3 {
    grid-column-start: 1;
    grid-row-start: 3;
  }
}

.card__picture-large {
  img {
    width: 95%;
    height: auto;
  }

  grid-column: 2/-1;
  grid-row: 1/4;
}

.card__description {
  width: 40%;

  table {
    width: 80%;
    padding-bottom: 37px;
  }

  td {
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 18.2px;

    &:last-child {
      text-align: end;
    }
  }

  a {
    width: 79%;
    padding: 26px 20px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    background-color: $brown;
    color: $white;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      outline: 1px solid $brown;
      outline-offset: -1px;
      color: $font-color;
    }

    &:focus {
      outline: 1px solid $font-color;
    }
  }
}

.card__description-title {
  padding-bottom: 40px;

  h2 {
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-size: 34px;
    line-height: 26.2px;
    margin: 0;
    padding-bottom: 19px;
  }

  p {
    font-size: 26px;
    line-height: 33.8px;
    margin: 0;
  }
}

.card__description-table-name {
  display: flex;
  padding-bottom: 30px;

  p {
    margin: 0;

    &:first-child {
      color: $grey;
      padding-right: 8%;
    }
  }
}

.card__description-note {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  width: 79%;

  p {
    margin: 0;
    font-size: 14px;
    line-height: 18.2px;
    color: $grey;
  }
}

.card__container .swiper-pagination {
  display: none;
}

@media (max-width: $tablet-width) {
  .card {
    padding: 31px 44px 74px 46px;
  }

  .card__container {
    width: 47%;
    padding-right: 5.5%;
    margin: 0;
  }

  .card__picture {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 4% 4.7%;
    grid-template-rows: 31% 31% 31%;
    height: 100%;

    div {
      height: auto;
    }
  }

  .card__picture-preview {
    &--1 {
      grid-column-start: 1;
      grid-row-start: 3;
    }

    &--2 {
      grid-column-start: 2;
      grid-row-start: 3;
    }

    &--3 {
      grid-column-start: 3;
      grid-row-start: 3;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .card__picture-large {
    grid-column: 1/4;
    grid-row: 1/3;

    img {
      width: 100%;
      height: 286px;
      object-fit: cover;
    }
  }

  .card__description {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      width: 100%;
      padding: 25px 20px;
    }

    table {
      width: 102%;
      padding-bottom: 39px;
    }

    td {
      padding-bottom: 19px;
    }
  }

  .card__description-title {
    padding-left: 2px;

    h2 {
      padding-bottom: 19px;
    }
  }

  .card__description-table-name p:first-child {
    padding-right: 12%;
  }

  .card__description-note {
    width: 100%;

    p {
      font-size: 12px;
      line-height: 15.6px;
    }
  }
}

@media (max-width: $mobile-width) {
  .card {
    padding: 0 15px 60px;
    flex-direction: column;
  }

  .card__container {
    width: 100%;
    padding-right: 0;

    .swiper-pagination {
      display: block;
      position: absolute;
      bottom: 54px;
      z-index: 5;
      right: 43%;
    }
  }

  .card__picture {
    display: flex;
    padding-bottom: 45px;
    grid-gap: 0;

    img {
      width: 290px;
      height: 260px;
    }

    div {
      text-align: center;
    }
  }

  .card__picture-large {
    order: -1;
  }

  .card__description {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    table {
      padding-bottom: 29px;
    }
  }

  .card__description-title {
    padding-bottom: 32px;
    padding-left: 0;
  }

  .card__description-note {
    padding-top: 11px;

    p {
      width: 24%;
      text-align: center;
    }
  }

  .card__description-table-name p:first-child {
    padding-right: 14%;
  }
}
