.faq {
	display: flex;
	justify-content: center;
}
    
.faq__wrapper {
	max-width: 1366px;
	padding: 0 198px;
	width: 100%;
}

.faq__list {
	border-collapse: collapse;
	width: 100%;

	caption {
		text-align: center;
		padding-bottom: 49px;
		font-family: "Cormorant Garamond", "Times New Roman", serif;
		font-size: 34px;
		font-weight: 700;
		line-height: 44.2px;
		letter-spacing: 0.03em;
		margin: 0;
	}

	td {
		border: 1px solid $brown;
		padding: 43px 100px 42px 46px;
		position: relative;
	}

	h3 {
		font-size: 18px;
		line-height: 23.4px;
		font-weight: 500;
		margin: 0;
	}

	p {
		font-weight: 400;
		padding-top: 9px;
		padding-left: 5px;
		margin: 0;
		padding-right: 300px;
		line-height: 20.8px;
	}

	button {
		display: block;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 0;
		background-color: transparent;

		&:hover {
			background-color: $light-brown;
			z-index: -1;
		}

		&:before {
			position: absolute;
			content: "";
			width: 17px;
			height: 10px;
			right: 47px;
			top: 49px;
			background-image: url(../img/icon-arrow-up.svg);
		}
	}
}

.item--hide button {
	&:before {
		display: none;
	}

	&:after {
		position: absolute;
		content: "";
		width: 17px;
		height: 10px;
		right: 47px;
		top: 53px;
		background-image: url(../img/icon-arrow-down.svg);
	}
}

.item--hide p{
	display: none;
}

// .item--hide .item__countries p{
// 	display: none;
// }

// .item--hide .item__payment p{
// 	display: none;
// }

// .item--hide .item__return p{
// 	display: none;
// }

.faq--nojs {
	.faq__list p{
		display: block;
	}
	button {
		&:before {
			display: none;
		}

		&:after {
			display: block;
		}
	}
}

@media (max-width: $tablet-width) {
	.faq__wrapper {
		padding: 0 45px;
	}

	.faq__list {
		p {
			padding-right: 0;
		}
	}
}

@media (max-width: $mobile-width) {
	.faq__wrapper {
		padding: 0 15px;
	}

	.faq__list {	
		caption {
			padding-bottom: 40px;
		}

		td {
			padding: 22px 58px 24px 25px;
		}

		h3 {
			font-size: 16px;
			line-height: 22.4px;
			padding-right: 25px;

			&:last-child {
				padding-right: 15px;
			}
		}
	
		p {
			font-size: 14px;
			line-height: 19.6px;
			padding-top: 25px;
			padding-left: 0;
			padding-right: 0;
		}

		button {
			&:before {
				right: 26px;
				top: 23px
			}
		}
	}

	.item__return {
		h3 {
			padding-right: 0;
		}
	}
}
