.footer {
  background-color: $black;
  display: flex;
  justify-content: center;
}

.footer__wrapper {
  max-width: 1366px;
  display: flex;
  padding: 87px 96px 80px 96px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.footer__main {
  color: $white;
  width: 43%;
  padding-bottom: 18px;

  h2 {
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-size: 34px;
    line-height: 44.2px;
    letter-spacing: 0.03em;
    padding-bottom: 9px;
    margin: 0;
  }

  p {
    color: $grey;
    line-height: 20.8px;
    padding-bottom: 34px;
    padding-left: 4px;
    margin: 0;
  }
}

.footer__email-form {
  border-bottom: 1px solid $grey;
  display: flex;
  justify-content: space-between;

  input {
    background-color: transparent;
    border-color: transparent;
    width: 62%;
    padding: 10px 0;
    color: $white;

    &::placeholder {
      font-size: 14px;
      line-height: 21px;
    }
  }

  button {
    color: $white;
    background-color: transparent;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &:hover {
      color: $brown;
    }
  }

  svg {
    padding-left: 12px;
  }
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 32%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
  }

  a {
    color: $white;
    font-weight: 500;
    line-height: 20.8px;

    &:hover {
      color: $brown;
    }
  }

  li {
    padding-bottom: 21px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.footer__social {
  width: 115px;
  margin-top: -5px;

  a {
    color: $white;
    display: flex;
    flex-wrap: nowrap;

    &:hover {
      color: $brown;
    }
  }

  p {
    margin: 0;
  }

  svg {
    padding-right: 18px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .footer__wrapper {
    flex-wrap: wrap;
    padding: 50px 150px 54px 45px;
  }

  .footer__main {
    width: 100%;
    padding-bottom: 46px;
    padding-right: 14px;
    padding-left: 2px;

    h2 {
      letter-spacing: 0.025em;
    }

    p {
      padding-left: 0;
    }
  }

  .footer__nav {
    width: 65%;
    padding-left: 3px;

    li {
      padding-bottom: 22px;
    }

    ul {
      padding-right: 5px;
    }
  }

  .footer__email-form {
    input {
      width: 75%;
      max-width: 100%;
      padding: 9px 0;
      margin-left: -3px;
    }
  }

  .footer__social {
    margin-top: 0;

    li {
      margin-bottom: 24px;
    }
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper {
    padding: 49px 15px 32px;
    flex-direction: column;
    align-items: start;
  }

  .footer__main {
    padding-left: 0;

    h2 {
      padding-bottom: 14px;
      letter-spacing: 0.021em;
    }

    p {
      line-height: 22.4px;
      padding-bottom: 30px;
    }
  }

  .footer__email-form {
    input {
      width: 61%;
    }
  }

  .footer__nav {
    flex-direction: column;
    padding-left: 0;

    ul {
      padding-bottom: 45px;
    }
  }

  .footer__social {
    width: 56%;
    padding-top: 2px;

    ul {
      display: flex;
      justify-content: space-between;
      margin-left: -4px;
    }

    li {
      padding-bottom: 0;
    }

    p {
      display: none;
    }

    svg {
      padding-right: 0;
      height: 21px;
      width: 20px;
    }
  }
}
