.header {
  display: flex;
  justify-content: center;
}

.header__wrapper {
  max-width: 1366px;
  padding: 30px 98px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.header__wrapper--catalog {
  padding: 40px 98px 0;
}

.header__search {
  order: 1;
  align-self: start;
  display: flex;
  width: 25%;
  padding-top: 15px;

  input {
    padding-left: 15px;
    border: 0;
    position: relative;
    width: 85%;

    &::placeholder {
      font-size: 14px;
      line-height: 21px;
      color: $grey;
    }
  }
}

.header__logo {
  order: 2;
  position: absolute;
  right: 50%;
  left: 47.5%;
  top: 30px;
  width: 66px;

  a {
    color: $font-color;

    &:hover {
      color: $brown;
    }
  }
}

.header__login {
  order: 3;
  width: 15%;
  margin-left: auto;
  padding-top: 13px;
  padding-right: 20px;
  text-align: end;

  a {
    cursor: pointer;
    color: $font-color;
    padding-right: 17px;

    &:hover {
      color: $brown;
    }

    // &:focus {
    //   outline: 1px solid $brown;
    // }
  }
}

.header__cart {
  order: 4;
  width: 6%;
  padding-top: 13px;
  margin-right: -26px;

  a {
    color: $font-color;

    // &:focus {
    //   outline: 1px solid $brown;
    // }

    &:hover {
      color: $brown;
    }
  }

  p {
    margin: 0;
  }

  svg {
    display: none;
  }
}

.header__main-nav {
  order: 5;
  width: 100%;
  display: flex;
  justify-content: center;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    padding-top: 71px;
    padding-left: 10px;
  }

  a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: $font-color;

    &:hover {
      color: $brown;
    }
  }

  li {
    padding-right: 37px;
    padding-bottom: 17px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.header__nav {
  display: none;
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    padding: 53px 44px 53px;
  }

  .header__search,
  .header__login {
    display: none;
  }

  .header__main-nav {
    order: 1;
    width: 25px;

    ul {
      display: none;
    }
  }

  .header__main-nav-burger {
    width: 25px;
    height: 20px;
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      width: 25px;
      height: 2px;
      background-color: $font-color;
      box-shadow: 0 8px 0 0 $font-color, 0 16px 0 0 $font-color;
    }

    &:hover::before {
      background-color: $brown;
      box-shadow: 0 8px 0 0 $brown, 0 16px 0 0 $brown;
    }
  }

  .header__cart {
    order: 2;
    padding: 0;
    margin-left: auto;
    margin-right: 0;
    width: 20px;
    height: 20px;

    p {
      display: none;
    }

    svg {
      display: block;
      height: 19px;
      fill: transparent;
      width: 100%;
    }
  }

  .header__logo {
    left: 46%;
  }

  .header--menu-show {
    .header__wrapper {
      // position: absolute;
      z-index: 50;
      width: 100%;
      box-sizing: border-box;
      background-color: $brown;
      padding-bottom: 74px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      flex-wrap: nowrap;
      overflow-y: auto;
      height: 100vh;
    }

    .header__main-nav {
      order: 5;
      width: 100%;
      justify-content: start;
      flex-direction: column;

      ul {
        display: flex;
        flex-direction: column;
        padding: 27px 0 0 2px;
      }

      li {
        padding-bottom: 21px;
      }

      a {
        font-size: 24px;
        line-height: 36px;
        color: $white;
        letter-spacing: 0.01em;
      }
    }

    .header__main-nav-burger {
      top: -121px;

      &::before {
        background-color: $white;
        box-shadow: 0 8px 0 0 $white, 0 16px 0 0 $white;
      }
    }

    .header__logo a {
      color: $white;
    }

    .header__search {
      display: block;
      order: 4;
      width: 100%;
      padding-top: 63px;
      color: $white;

      svg {
        position: absolute;
        z-index: 50;
        top: 148px;
        left: 58px;
        height: 16px;
      }

      input {
        width: 100%;
        box-sizing: border-box;
        height: 39px;
        padding-left: 42px;
        border-radius: 50px;
        opacity: 0.15;
        cursor: pointer;

        &::placeholder {
          color: transparent;
        }

        &:hover {
          background-color: $light-brown;
        }
      }
    }

    .header__nav {
      display: block;
      order: 5;
      width: 100%;
      padding-top: 18px;
      padding-left: 3px;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
      }

      li {
        padding-bottom: 20px;
      }

      a {
        font-size: 18px;
        line-height: 23.4px;
        color: $white;
      }
    }

    .header__cart a {
      color: $white;
    }

    .header__login {
      order: 6;
      display: block;
      margin: 0;
      padding: 23px 0 0 2px;
      width: 100%;
      text-align: start;

      a {
        font-size: 18px;
        line-height: 23.4px;
        color: $white;
      }
    }
  }

  .header--nojs {
    .header__wrapper {
      height: auto;
      position: static;
    }

    .header__main-nav-burger {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .header__wrapper {
    padding: 36px 14px;
  }

  .header__logo {
    left: 42%;
    top: 21px;

    svg {
      width: 52px;
      height: 52px;
    }
  }

  .header__cart {
    width: 7%;
  }

  .header__main-nav-burger {
    top: 0;
    left: 0;
  }

  .header--menu-show {
    .header__wrapper {
      padding-bottom: 44px;
    }

    .header__main-nav-burger {
      top: -107px;
    }

    .header__main-nav {
      ul {
        padding-top: 16px;
      }
    }

    .header__search {
      padding-top: 47px;

      svg {
        top: 112px;
        left: 27px;
        height: 20px;
        width: 16px;
      }
    }

    .header__nav {
      padding-top: 8px;
      padding-left: 1px;
    }

    .header__login {
      padding-top: 14px;
    }
  }
}
