.items {
  max-width: 1366px;
  padding: 0 98px 42px;
  display: flex;
  margin: auto;
  min-width: 0;

  .swiper-container {
    padding-bottom: 35px;
  }

  .swiper__wrapper {
    width: 100%;
  }

  .swiper-slide {
    height: 344px;
    width: auto;
  }

  .swiper-pagination {
    padding-right: 15px;
  }

  .swiper-pagination-bullet {
    padding-right: 13px;
    color: $grey;
  }

  .swiper-pagination-bullet-active {
    color: $font-color;
  }
}

.items__filter {
  width: 21.5%;
  padding-right: 4.2%;
}

.items__fieldset-wrapper {
  border: 1px solid $brown;

  fieldset {
    border: none;
    border-bottom: 1px solid $brown;
    padding: 23px 23px 0;

    &:last-child {
      border-bottom: none;
    }
  }

  legend {
    line-height: 20.8px;
    padding-top: 24px;
    width: 100%;
    position: relative;
    outline: none;

    &:hover {
      color: $brown;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 36px;
    padding-bottom: 17px;
  }

  li {
    padding-bottom: 12px;
  }

  label {
    font-size: 14px;
    line-height: 18.2px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: -28px;
      top: 4px;
      width: 15px;
      height: 15px;
      outline: 1px solid $brown;
      outline-offset: -1px;
    }

    &:hover {
      color: $brown;
    }
  }

  input:checked + label::before {
    background-color: $brown;
  }

  input:focus + label::before {
    outline: 1px solid $font-color;
  }

  button {
    display: block;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 0;
    background-color: transparent;

    &::before {
      position: absolute;
      content: "";
      width: 17px;
      height: 10px;
      right: -2px;
      top: 28px;
      background-image: url("../img/icon-arrow-up.svg");
    }
  }
}

.items__option--hide {
  button {
    &::before {
      display: none;
    }

    &::after {
      position: absolute;
      content: "";
      width: 17px;
      height: 10px;
      right: -2px;
      top: 28px;
      background-image: url("../img/icon-arrow-down.svg");
    }
  }

  ul {
    display: none;
  }

  .items__range-filter {
    display: none;
  }
}

.items__range-controls {
  height: 15px;
  width: 100%;
  position: relative;
}

.items__range-controls-scale {
  height: 1px;
  background-color: $light-brown;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 42%;
    top: 0;
    left: 33%;
    background-color: $brown;
  }
}

.items__range-filter-toggle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $brown;
  position: absolute;

  &--max {
    top: -6px;
    left: 75%;
  }

  &--min {
    top: -6px;
    left: 23%;
  }
}

.items__range-price-controls {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-right: -10px;

  div {
    width: 50%;
  }
}

.items__option-price {
  padding-bottom: 18px;
}

.items__range-filter {
  padding-bottom: 18px;
}

.items__button-wrapper {
  padding-top: 12px;

  button {
    padding: 23px;
    margin-top: 25px;
    width: 100%;
    border: 1px solid $brown;
    background-color: $brown;
    color: $white;
    cursor: pointer;

    &:hover {
      color: $font-color;
      background-color: transparent;
    }
  }
}

.items__list {
  width: 74%;
  text-align: center;

  h3 {
    line-height: 20.8px;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 6px;
  }

  p {
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 700;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 1467px;
  }

  a {
    height: auto;
    display: block;
    cursor: pointer;
  }
}

.items__controles {
  display: flex;
  justify-content: space-between;
  padding-top: 67px;
}

.items__controle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;

  &:focus {
    outline: 1px solid #a97c62;
    outline-offset: -1px;
  }

  &:hover {
    color: $brown;
  }
}

.items__button-filter {
  display: none;
}

.items__form-close {
  display: none;
}

.items__list--nojs {
  .swiper-wrapper {
    height: auto;
  }

  .items__controles {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .items {
    flex-direction: column;
    padding: 0 45px 41px;

    .swiper-slide {
      height: 280px;
    }
  }

  .items__filter {
    width: 100%;
    padding: 0;

    form {
      display: none;
    }
  }

  .items__button-filter {
    display: block;
    width: 100%;
    border: none;
    outline: 1px solid $brown;
    outline-offset: -1px;
    background-color: $brown;
    color: $white;
    padding: 26px;
    margin-bottom: 50px;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: $font-color;
    }

    &:focus {
      outline: 1px solid $font-color;
    }
  }

  .items__list {
    width: 100%;

    li {
      width: 206px;
    }

    img {
      width: 206px;
      height: 208px;
    }

    ul {
      height: 1208px;
    }
  }

  .items__filter--show {
    .items__button-filter {
      display: none;
    }

    form {
      display: block;
      width: 63%;
      box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
      padding-bottom: 40px;
      position: relative;
      margin: 0 auto 20px;
    }

    .items__form-close {
      display: block;
      position: absolute;
      background-color: $font-color;
      width: 32px;
      height: 32px;
      top: -14px;
      right: -14px;
      border-radius: 50%;
      border: none;
      padding: 0;
      cursor: pointer;
      color: $white;

      svg {
        padding-top: 3px;
      }

      &:hover {
        background-color: $brown;
      }
    }

    .items__fieldset-wrapper {
      legend {
        font-size: 18px;
        line-height: 23.4px;
        padding-top: 35px;
      }

      label {
        font-size: 16px;
        line-height: 20.8px;
      }

      fieldset {
        padding-bottom: 12px;
      }

      ul {
        padding-left: 38px;
        padding-bottom: 17px;
      }

      li {
        padding-bottom: 18px;

        &:last-child {
          padding-bottom: 8px;
        }
      }

      button {
        &::before {
          right: 19px;
          top: 40px;
        }
      }
    }

    .items__option--hide {
      button::after {
        right: 17px;
        top: 43px;
      }
    }

    .items__range-controls-scale::before {
      width: 46%;
      left: 17%;
    }

    .items__range-filter-toggle--min {
      top: -6px;
      left: 15%;
    }

    .items__range-filter-toggle--max {
      top: -6px;
      left: 62%;
    }

    .items__range-price-controls {
      justify-content: space-between;
      padding: 4px 125px 0 50px;

      div {
        width: auto;
      }
    }

    .items__range-filter {
      padding-top: 7px;
    }

    .items__button-wrapper {
      text-align: center;
      padding-top: 18px;

      button {
        padding: 23px 23px 25px;
        width: 84.5%;
        margin-right: 18px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .items__controle {
    display: none;
  }

  .items {
    padding: 0 15px 31px;

    .swiper-slide {
      height: 214px;
    }

    .swiper-pagination {
      padding-right: 0;
    }

    .swiper-pagination-bullet {
      padding-right: 23px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .items__button-filter {
    padding: 25px;
    margin-bottom: 40px;
  }

  .items__controles {
    justify-content: center;
  }

  .items__list {
    h3 {
      padding-top: 13px;
    }

    img {
      width: 100%;
      height: 136px;
      object-fit: cover;
    }

    ul {
      height: 1415px;
    }
  }

  .items__filter--show {
    form {
      width: 100%;
    }
  }
}
