.products {
  text-align: center;
}

.products__title {
  text-align: center;
  margin-bottom: -141px;
  width: 500px;
  margin: 0 auto;

  h2 {
    font-size: 34px;
    line-height: 44.2px;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 22px;
  }

  a {
    font-weight: 500;
    line-height: 20.8px;
    color: $font-color;
    border-bottom: 1px solid $brown;
    padding-bottom: 3px;
    cursor: pointer;

    &:hover {
    color: $brown;
    }
  }
}

.products__items-title {
  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    padding: 21px 0 4px;
    margin: 0;
  }

  p {
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
}

.products__wrapper {
  max-width: 1366px;
  padding: 0 98px;
  position: relative;
  margin: 0 auto;

  .swiper-button-next {
    position: absolute;
    height: 17px;
    width: 35px;
    top: 38px;
    right: 91px;
    color: $brown;
    cursor: pointer;
  }

  .swiper-button-prev {
    position: absolute;
    height: 17px;
    width: 35px;
    top: 35px;
    left: 80px;
    cursor: pointer;
    color: $brown;
  }

  .swiper-container {
    padding-top: 62px;
  }
}

.products__swiper {
  .swiper-pagination {
    padding-top: 48px;
    padding-left: 15px;
  }
  .swiper-pagination-bullet {
    padding-right: 13px;
    color: $grey;
  }

  .swiper-pagination-bullet-active {
    color: $font-color;
  }

  .swiper-slide {
    width: 270px;
    height: 358px;
  }
}

@media (max-width: $tablet-width) {
  .products__title {  
    h2 {
      letter-spacing: 0;
      padding-bottom: 19px;
    }
  }

  .products__wrapper {
    padding: 0 44px;

    .swiper-container {
      padding-top: 57px;
    }

    svg {
      width: 60px;
      height: 15px;
    }

    .swiper-button-prev {
      width: 50px;
      top: 42px;
      left: 35px;
    }

    .swiper-button-next {
    width: 50px;
    top: 42px;
    right: 45px
    }
  }

  .products__swiper .swiper-slide {
    width: 324px;
    height: 339px;

    img {
      width: auto;
      height: 100%;
    }
  }

  .products__items-title h3 {
    padding-top: 19px;
  }

  .products__swiper .swiper-pagination {
    padding-top: 109px;
  }
}

@media (max-width: $mobile-width) {
  .products__title {
    width: 150px;
  }

  .products__wrapper {
    padding: 0 14px;

    .swiper-button-prev, 
    .swiper-button-next {
      display: none;
    }

    .swiper-container {
      padding-top: 45px;
      max-width: 500px;
    }
  }

  .products__swiper {
    .swiper-slide {
      width: 132px;
      height: 136px;
    }

    .swiper-pagination {
      padding-left: 0;
      padding-top: 115px;

      &:before {
        content: '';
        position: absolute;
        width: 35px;
        height: 15px;
        top: 297px;
        left: calc(49% - 7px);
        background-image: url(../img/icon-of6.svg);
      }
    }

    .swiper-pagination-bullet {
      display: none;
    }

    .swiper-pagination-bullet-active {
      display: block;
      width: 10px;
      margin: 0 auto;
      padding-right: 45px;
    }

    .swiper-wrapper {
      width: 100%
    }
  }

  .products__items-title h3 {
    padding-top: 15px;
  }
}
